*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100%;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER................ */

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.menuDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu{
    display: flex;
    gap: 25px;
}

.login{
    display: flex;
    gap: 25px;
}
.menuLink{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #33383f;
}

.menuLogin{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
}

#signIn{
    color: #0070a0;
}

#bookDemo{
    padding: 10px 20px;
    background-color: #0070a0;
    color: #fff;;
}

/* FRAME_1................... */        

.frame1{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.div1_frame1{
    padding-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.div2_frame1{
    padding-top: 12px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

#bookDemo2{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    padding: 8px 32px;
    background-color: #0070a0;
    color: #fff;;
}

h1{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 110%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

#p1{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

#learnMore{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    color: #0070a0;
    display: flex;
    position: relative;
    align-items: center;
}
#learnMore::after{
    content: url(assets/IMAGE_2_learnMore.svg);
    display: inline-block;
    width: 14px;
    height: 21px;
    margin-left: 5px;
}

/* FRAME_2................. */

.frame2{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center  ;
}

.span1_frame2{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 156%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1f1f1f;
}

.compList{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 25px;
} 

/* FRAME_3................. */

.frame3{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 160px;
    margin-bottom: 120px;
}

.div_frame3{
    width: 355px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
}

#d1_frame3{
    background-color: #FAEA73;
}

#d2_frame3{
    background-color: #CCEFF6 ;
}

#d3_frame3{
    background-color: #F7CEDC;
}

.span_frame3{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.p_frame3{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

/* FRAME_4................. */

.frame4{
    background-color: #F7F9FA;
    width: 100%;
    height: 694px;
}

.frame4_1{
padding-top: 79px;
display: flex;
flex-direction: column;
}

h2{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.div1_frame4_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 62px; */
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #c2cdd8;
    border-bottom: 1px solid #c2cdd8;
    margin-bottom: 1px;
    width: 450px;
    min-height: 62px;
    cursor: pointer;
}

.option1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name_option{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 126%;
    letter-spacing: 0.01em;
    color: #626a72;
    margin-left: 15px;
    padding-bottom: 2px;
}

.option svg:last-of-type{
    margin-left: auto;
}

.desc_opt{
    font-family: "Inter", sans-serif;
    margin-left: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    display: none;
}

.desc_opt1{
    font-family: "Inter", sans-serif;
    margin-left: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    display: inline;
}