*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100%;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER................ */

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.menuDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu{
    display: flex;
    gap: 25px;
}

.login{
    display: flex;
    gap: 25px;
}
.menuLink{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #33383f;
}

.menuLogin{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
}

#signIn{
    color: #0070a0;
}

#signIn:hover{
    text-decoration: underline;
}

#bookDemo{
    padding: 10px 20px;
    background-color: #0070a0;
    color: #fff;;
}

/* FRAME_1................... */        

.frame1{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.div1_frame1{
    padding-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.div2_frame1{
    padding-top: 12px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

#bookDemo2{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    padding: 8px 32px;
    background-color: #0070a0;
    color: #fff;;
}

h1{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 110%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

#p1{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

#learnMore{
    font-family:"Inter", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    color: #0070a0;
    display: flex;
    position: relative;
    align-items: center;
}
#learnMore::after{
    content: url(assets/IMAGE_2_learnMore.svg);
    display: inline-block;
    width: 14px;
    height: 21px;
    margin-left: 5px;
}

/* FRAME_2................. */

.frame2{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center  ;
}

.span1_frame2{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 156%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1f1f1f;
}

.compList{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 25px;
} 

/* FRAME_3................. */

.frame3{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 160px;
    margin-bottom: 120px;
}

.div_frame3{
    width: 355px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
}

#d1_frame3{
    background-color: #FAEA73;
}

#d2_frame3{
    background-color: #CCEFF6 ;
}

#d3_frame3{
    background-color: #F7CEDC;
}

.span_frame3{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.p_frame3{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

/* FRAME_4................. */

.frame4{
    background-color: #F7F9FA;
    width: 100%;
    height: 694px;
}

.frame4_1{
padding-top: 79px;
display: flex;
flex-direction: column;
}

h2{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.div1_frame4_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 62px; */
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #c2cdd8;
    border-bottom: 1px solid #c2cdd8;
    margin-bottom: 1px;
    width: 450px;
    min-height: 62px;
    cursor: pointer;
}

.option1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name_option{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 126%;
    letter-spacing: 0.01em;
    color: #626a72;
    margin-left: 15px;
    padding-bottom: 2px;
}

.option svg:last-of-type{
    margin-left: auto;
}

.desc_opt{
    font-family: "Inter", sans-serif;
    margin-left: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    display: none;
}

.desc_opt1{
    font-family: "Inter", sans-serif;
    margin-left: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    display: inline;
}

/* FRAME_5................ */

.about{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.frame5{
    display: flex;
    flex-direction: row;
    gap: 98px;
    margin-top: 120px ;
    margin-bottom: 120px;
}

.ul_frame5{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.li_ul_frame5{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.span_frame5{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.p_frame5{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

/* FRAME_6.................. */

.frame6{
    background-color: #0070a0;
    width: 100%;
    height: 550px;
}

.frame6_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
}

.div1_frame6_1{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.span1_frame6_1{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #fff;
}

.p_frame6_1{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #fff;
}

.ul_frame6_1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.li_frame6_1{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #fff;
}

.li_frame6_1::before{
    content:url(assets/Vector.svg);
    margin-right: 8px;
}

.button_frame6_1{
    width: 176px;
    height: 43px;
    background-color: #0070a0;
    border: none;
    border-radius: 5px;
    transition: border 0.1s ;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.button_frame6_1:hover{
    border: 2px solid #fff;
}

/* FRAME_7..................... */

.frame7{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 68px;
    margin-bottom: 120px;
}

.div1_frame7{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.span1_frame7{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.p1_frame7{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.div2_frame7{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.div3_frame7{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.span2_frame7{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 3px;
}

.p2_frame7{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

/* FREAME_8..................... */

.frame8{
    width: 100%;
    height: 747px;
    background-color: #F7F9FA;
}

.frame8_1{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.div1_frame8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 79px;
}

h3{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.a_frame8{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0070a0;
}

.a_frame8:hover{
    text-decoration: underline;
    color: #0070a0;
}

.div2_frame8{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.div3_frame8{
    display: flex;
    flex-direction: column;
}

.div4_frame8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 355px;
    height: 249px;
    background-color:#fff ;
    padding-left: 24px;
    padding-top: 25px;
    gap:8px
}

.a2_frame8{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: #2c90c9;
    background-color: #E6F7FF;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.a2_frame8:hover{
    text-decoration: underline;
    color:#2c90c9 ;
}

h4{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 3px;
}

.p_frame8{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 8px;
}

.span_date{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 163%;
    letter-spacing: 0.02em;
    color: #1f1f1f;
}

/* FRAME_9.............................. */

.frame9{
    padding-top: 64px;
    padding-left: 64px;
    background-color: #E6F7FF;
    height: 370px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h5{
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
    margin-bottom: 18px;
}

.p_frame9{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 36px;
}

.ul_frame9{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.li_frame9{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 162%;
    letter-spacing: 0.02em;
    color: #626a72;
    margin-top: 18px;
}

.li_frame9::before{
    content: url(assets/Vector2.svg);
    margin-right: 3px;
}

/* FRAME_9.............................. */

.frame10{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    gap: 16px;
}

.p1_frame10{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.a1_frame10{
    color: #0070a0
}

.a1_frame10:hover{
    text-decoration: underline;
    color: #0070a0;
}

.div1_frame10{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 432px;
}

.div2_frame10{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ul_frame10{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 216px;
}

.name_column{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.a2_frame10{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.02em;
    color: #626a72;
}

.a2_frame10:hover{
    text-decoration: underline;
    color: #626a72;
}

.sign_up{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

#input_email{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

#btn_sub{
    background: none;
    border: none;
}

#btn_sub:hover{
    cursor: pointer;
}

.form1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div3_frame10{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* FOOTER.........................*/
hr{
    margin-top: 64px;
    margin-bottom: 36px;
    color: #DEE5EB;
}

.p_footer{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 151%;
    letter-spacing: 0.02em;
    color: #1f1f1f;
}

.a_footer{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 151%;
    letter-spacing: 0.02em;
    color: #0070a0;
}

.a_footer:hover{
    text-decoration: underline;
    color: #0070a0;
}

.ul_footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}